/*DATA TABLE*/
/*margin a los controles*/
table.dataTable tbody td ,table>tbody>tr>td{padding: 2px 2.5px !important;}
.dataTables_wrapper>.row:nth-child(1),.dataTables_wrapper>.row:nth-child(3) {
    margin-right: .5rem!important;
    margin-left: .5rem!important;
}